<ion-view title="Science">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Science Links</h1>
        <div ng-bind-html="article">
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="button-bar">

            <button class="button button-clear icon ion-ios7-circle-filled"></button>

            <button class="button button-clear icon ion-ios7-circle-outline"></button>

            <button class="button button-clear icon ion-ios7-close-outline"></button>

        </div>
    </ion-footer-bar>
</ion-view>
