<div class="modal">
    <ion-header-bar>
        <h1 class="title">Settings</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSettings()">DONE</button>
        </div>

    </ion-header-bar>
    <ion-content>
        <h3>Breather Schedule:</h3>


        Break One:<input type="time">
        Break Two:<input type="time">
        Break Three:<input type="time">

        <button class="button button-full button-assertive">
            Update
        </button>
    </ion-content>
</div>