<ion-view title="Sports">

    <ion-content class="has-header">
        <h1>Sports Links</h1>
        <div ng-bind-html="article">
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="button-bar">

            <button class="button button-clear icon ion-ios7-circle-filled"></button>

            <button class="button button-clear icon ion-ios7-circle-outline"></button>

            <button class="button button-clear icon ion-ios7-close-outline"></button>

        </div>
    </ion-footer-bar>
</ion-view>
